<div id="show_container" class="form_container">
  <div class ="headline">
   <b style="margin-right: 183px; font-size: 18px;">Leave Details</b>
  </div>
  <div class="l_row">
    <span class="l_label">
      No of Leave Days:<span class="mandatory"></span>
    </span>
    <span class="r_label">
    <%if @half_days.count >1%>
      <%=@total_full_days%> Full days And <%= @half_days.count%> Half days
    <%else%>
      <%=@total_full_days%> Full days And <%= @half_days.count%> Half day
    <%end%>
    </span>
  </div>
  <div class="l_row">
    <span class="l_label">
      Name:<span class="mandatory"></span>
    </span>
    <span class="r_label">
      <%= @leave.user.name  %>
    </span>
  </div>
  <div class="l_row">
    <span class="l_label">
      Status:<span class="mandatory"></span>
    </span>
    <span class="r_label">
      <%= @leave.status  %>
    </span>
  </div>
  <div class="l_row">
    <span class="l_label">
      Reason For Leave:<span class="mandatory"></span>
    </span>
    <span class="r_label">
      <%= @leave.reason_for_leave %>
    </span>
  </div>
  <% @half_days.each do |day|%>
    <div class="l_row">
    <span class="l_label">
      Half Day Leave:<span class="mandatory"></span>
    </span>
    <span class="r_label">
      <%= day.leave_date rescue "" %> 
      <%= day.start_time.strftime("%I:%M %p") rescue ""%>
      <%= day.end_time.strftime("%I:%M %p") rescue ""%>
    </span>
  </div>
  <%end%>
  <div class ="bottom_line_wb" style="padding-right: 184px;">
    <% if @leave.status == "Approved" || @leave.status == "Rejected"%>
    <%else%>
      <span><% if can? :approved, Leave%><%= link_to 'Approve', approve_leave_leave_path(@leave),class:"btn btn-round btn-success" %></span><%end%> &nbsp;&nbsp;
      <span><% if can? :rejected, Leave%><%= link_to 'Reject', approve_leave_leave_path(@leave, :rejected => "Rejected"),class:"btn btn-round btn-danger"%><%end%></span>
    <%end%>
  </div>
</div>