<!doctype html>  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
    
    <title>Leave-Management</title>
    <%= stylesheet_link_tag  'bootstrap.min' %>
    <%= stylesheet_link_tag  'bootstrap-reset' %>
    <%= stylesheet_link_tag 'slidebars'%>
    <%= stylesheet_link_tag 'style'%>
    <%= stylesheet_link_tag 'style-responsive'%>
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <section id="container" class="">
      <!--header start-->
      <header class="header white-bg">
        <div class="sidebar-toggle-box">
          <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
      </div>
        <!--logo start-->
        <a href="/" class="logo"><span><%= image_tag "pecious-logo-with-text.png" ,style:"height: 44px;width: 159px;margin-top: -6px;"%></span></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <a href="/" class="logo"><span style="margin-left: 215px;">LEAVE MANAGEMENT SYSTEM</span></a>
            <ul class="nav top-menu">
              
            </ul>
        </div>
        <div class="top-nav ">
          <ul class="nav pull-right top-menu">
              <% if current_user %>
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <% if current_user.try(:image).blank? %>
                      <%= image_tag "avatar1_small.jpg" %>
                    <%else%>
                     <%=image_tag(current_user.try(:image),style:"border-radius: 25px;padding: 0px;
                      width: 50px;height: 50px;")%>
                    <%end%>
                    <span class="username"><%= current_user.name %></span>
                    <b class="caret"></b>
                  </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                        <li><a href="/users/sign_out" data-method="delete"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <%else%>
                <div class="log-arrow-up"></div>
                <li><a href="/users/sign_in"><i class=" fa  fa-sign-in"></i>Login</a></li>
              <%end%>
              <!-- user login dropdown end -->
              
          </ul>
      </div>
      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a href="/users/edit">
                          <i class="fa fa-edit"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/holidays">
                          <i class="fa fa-calendar"></i>
                          <span>Calender</span>
                      </a>
                      
                  </li>

                  <li class="sub-menu">
                      <a href="/leaves/new">
                          <i class="fa fa-book"></i>
                          <span>Apply Leave</span>
                      </a>
                      
                  </li>

                  <li class="sub-menu">
                      <a href="/leaves">
                          <i class="fa fa-cogs"></i>
                          <span>Status</span>
                      </a>
                      
                  </li>
                  <li class="sub-menu">
                      <a href="/leaves/leave_history" >
                          <i class="fa fa-tasks"></i>
                          <span>History</span>
                      </a>
                      
                  </li>
                  <li class="sub-menu">
                      <a href="/leaves/leave_to_approve">
                          <i class="fa fa-envelope"></i>
                          <span>Approve Leave</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="/users/sign_up">
                          <i class=" fa fa-sign-in"></i>
                          <span>Enroll Employee</span>
                      </a>
                      
                  </li>
                 

              </ul>
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
        <section id="main-content">
        <section class="wrapper">
         <div>
          <%  if flash[:notice] %>
          <div class="flashNotice"><%= flash[:notice] %>
          <%end%></div>
          <%= yield %>
        </section>
        </section>
      <!--main content end-->
     
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2016 &copy; LEAVE MANAGEMENT SYSTEM &copy; PIS 
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>


    <script src="<%#= asset_path("jquery.js")%>"></script>
    <script src="<%= asset_path("bootstrap.min.js")%>"></script>
    <script src="<%= asset_path("jquery.scrollTo.min.js")%>"></script>
    <script src="<%= asset_path("jquery.nicescroll.js")%>"></script>
    <script src="<%= asset_path("respond.min.js")%>"></script>
    <script src="<%= asset_path("jquery.dcjqaccordion.2.7.js")%>"></script>
    <script src="<%= asset_path("slidebars.min.js")%>"></script>
    <script src="<%= asset_path("common-scripts.js")%>"></script>
  </body>
</html>