<div class="form-group row">
  <label for="inputEmail1" class="col-md-3 col-sm-2 control-label">Name*</label>
    <div class="col-md-7">
     <%= f.text_field :name,class:"form-control", id:"inputEmail1", placeholder:"Name" %>
    </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Email*</label>
  <div class="col-md-7">
    <%= f.email_field :email,class:"form-control", id:"inputPassword1", placeholder:"Email"%>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Password* </label>
  <div class="col-md-7">
   <%= f.password_field :password,class:"form-control", id:"inputPassword1", placeholder:"Password"%>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Password Confirmation* </label>
  <div class="col-md-7">
   <%= f.password_field :password_confirmation,class:"form-control", id:"inputPassword1", placeholder:"Password Confirmation"%>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">date of joining* </label>
  <div class="col-md-7">
  <%= f.text_field :joining_date,class:"form-control", id:"inputjoiningdate", placeholder:"Joining date"%>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Salary* </label>
  <div class="col-md-7">
   <%= f.text_field :salary,class:"form-control", id:"inputPassword1", placeholder:"Salary"%>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Avatar* </label>
  <div class="col-md-7">
   <%= f.file_field :image,style:"border: medium none;"%>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Role* </label>
  <div class="col-md-7">
   <%=f.select :role_id, options_from_collection_for_select(@role, "id", "name") %>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Manager* </label>
  <div class="col-md-7">
   <%= f.select :manager_id, options_from_collection_for_select(@manager, "id", "name") %>
  </div>
</div>
<script type="text/javascript">
  $(function() {
  $("#inputjoiningdate").datepicker();
});
</script>


